body {
  background: #525252;
  font-family: fantasy;
  color: #ca3e47;
  font-size: 16px;
}
.container {
  max-width: 1140px;
  padding: 0 20px;
  margin: 0 auto;
}
.logo {
  display: block;
  text-align: center;
}
.song-text {
  display: block;
  margin: auto;
  text-align: center;
}
footer {
  font-size: 9px;
  font-style: italics;
}
